<form id="nguoilienhe-form" class="needs-validation" novalidate>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="hoNLH" class="form-label">Họ và chữ lót <span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="hoNLH" name="hoNLH"
                placeholder="VD: Nguyễn Văn" required>
            <div class="invalid-feedback">
                Vui lòng nhập họ và chữ lót
            </div>
        </div>
        <div class="col-md-4">
            <label for="tenNLH" class="form-label">Tên <span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="tenNLH" name="tenNLH" placeholder="VD: An" required>
            <div class="invalid-feedback">
                Vui lòng nhập tên
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="sdt" class="form-label">Số điện thoại <span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="sdt" name="sdt" placeholder="012345678" required>
            <div class="invalid-feedback">
                Vui lòng nhập số điện thoại
            </div>
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email <span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="email" name="email" placeholder="VD: example@gmail.com" required>
            <div class="invalid-feedback">
                Vui lòng nhập email
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="d-flex justify-content-start">
            <button type="submit" class="btn btn-primary me-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-floppy mb-1" viewBox="0 0 16 16">
                    <path d="M11 2H9v3h2z" />
                    <path
                        d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
                </svg>
                Cập nhật
            </button>
        </div>
    </div>
</form>